* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", var(--primary-font), "Calibri", "Tahoma", "Geneva", "Verdana", "sans-serif";
    scroll-behavior: smooth;
}

body {
    background: #f0f0f0;
}

p {
    text-align: justify;
    text-indent: 24px;
}

.main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.pa-tittle {
    text-align: center;
    font-size: 36px;
}

.pa-body {
    padding: 16px 16px 0;
    font-size: 16px;
}

.pa-word {
    padding-top: 16px;
    line-height: 1.5rem;
}

.pa-list {
    color: #000;
}

.pa-list-inf {
    margin-left: 40px;
    padding-top: 10px;
    line-height: 1.5rem;
    font-weight: 700;
}

.pa-list-child {
    margin-left: 16px;
    list-style-type: disc;
    list-style-position: outside;
    font-weight: 400;
}

.pa-list-child__inf {
    margin-left: 16px;
}

.pa-list-child__inf--more {
    list-style-type: circle;
}

.pa-list-child__inf--more-ans {
    margin-left: 24px;
}

.pa-link {
    font-weight: 700;
    text-decoration: none;
}

.pa-link:hover {
    color: var(--hover-link-color);
    text-decoration: underline;
}

.pa-link:active {
    text-decoration: underline;
    color: var(--active-link-color);
}

.pa-link:visited {
    color: var(--active-link-color);
}

.back-to-top {
    width: 50px;
    height: 50px;
    background: rgb(0, 0, 0, 0.7);
    font-size: 35px;
    position: fixed;
    color: whitesmoke;
    left: 80%;
    border: none;
    bottom: 10px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.show-back-page {
    visibility: visible;
    opacity: 1;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
}

.pa-word:last-child {
    padding-bottom: 10px;
}